*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

@import 'partials/colors';

body {
    
    width: 100%;
    height: 100vh;

    background-color: $blue-dark;
}

img, svg{
    display:block;
    width: 100%;
}

a{
    text-decoration: none;
    color:$Whithe;
}

.border{
    border: 1px solid red;
}

p{
    font-size: 16px;
    color: $gray-light;
    letter-spacing: 1px;
    line-height: 140%;

}

@import 'partials/Layout';
@import 'partials/Menu';
@import 'partials/animations';
@import 'partials/Spacing';